.headerWrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4svw;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 3rem;
    width: 100%;
}

.links,
.leading,
.trailing {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.leading {
    gap: 1rem;
    width: 100%;
}

.trailing {
    gap: 1rem;
}

.links {
    gap: 1rem;
    overflow-x: auto;
    width: 100%;
}

/* Transparent scrollbar for WebKit browsers (Chrome, Safari) */
.links::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.links::-webkit-scrollbar-track {
    background: transparent;
}

.links::-webkit-scrollbar-thumb {
    background: transparent;
}

.links::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.leading a,
.leading p {
    white-space: nowrap;
}

.anchor {
    display: flex;
    position: relative;
    cursor: pointer;
}

.menu,
.modeMenu {
    padding: 0.5rem 0rem;
    box-shadow: 1px 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
    border: 0.25px solid  lightgray;
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem; */
    background-color: #fff;
    z-index: 999;
}

.menu,
.modeMenu {
    /* border-radius: 0.25rem; */
}

.menu {
    position: absolute;
    top: 2.25rem;
    right: 0;
}

.modeMenu {
    position: absolute;
    right: 4.65rem;
    bottom: -2.525rem;
    align-items: flex-start;
}

.menuItem,
.menuItemActive {
    width: 100%;
    min-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 0.5rem;
    /* font-weight: 500;
    font-size: 1rem; */
}

.menuItem:hover {
    background-color: lightgray;
}

.menuItemActive {
    background-color: lightgray;
}

.link,
.linkActive {
    /* font-weight: 500;
    font-size: 1rem; */
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}

.link {
    color: gray;
}

.linkActive {
    color: #171717;
    /* text-decoration: underline; */
}

.link:hover {
    color: #171717;
}


@media (prefers-color-scheme: dark) {

    .menu,
    .modeMenu {
        border: 1px solid gray;
        background-color: #0a0a0a;
    }
}