.header,
.headerScrolled {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding: 0 2svw;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
    /* border-bottom: 0.5px solid gray; */
}

.headerScrolled {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.headerElement,
.headerElementSmall {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
}

.headerElementSmallMobile {
    display: none;
}

.headerElement {
    min-height: 3rem;
}

.headerElementSmall {
    min-height: 2rem;
}


.links,
.stock,
.leading,
.trailing {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.stockList {
    width: 100%;
    justify-content: space-between;
}

.links,
.stock,
.leading {
    gap: 0.5rem;
}

.stock {
    cursor: pointer;
    white-space: nowrap;
}

.leading a,
.leading p {
    white-space: nowrap;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.anchor {
    position: relative;
}

.menu,
.modeMenu {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0.05, 0.05);
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    z-index: 7;
    /* width: 7rem; */
}

.menu {
    position: absolute;
    margin-top: 0.5rem;
    right: 0;
}

.modeMenu {
    position: absolute;
    /* right: 5rem; */
    right: 4.5rem;
    bottom: -0.525rem;
    /* top: -2.525rem; */
}

.link,
.linkDesktop {
    align-items: center;
    color: gray;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    white-space: nowrap;
}


.link {
    height: 2rem;
    padding: 0.5rem 0.5rem;
}

.linkActive,
.link:hover {
    background-color: lightgray;
}

@media screen and (max-width: 618px) {
    .links {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .linkActive,
    .link:hover {
        background-color: #424242;
    }

    .menu,
    .modeMenu {
        border: 1px solid gray;
        background-color: #0a0a0a;
    }
}