.footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    height: 2rem;
    padding: 0 2svw;
    /* background-color: inherit; */
    width: 100%;
}

.leading,
.trailing {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}