.page {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 5rem);
    overflow-x: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 0.5rem;
}

.pageHeader {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    min-height: 400px;
}

.pageHeader h1 {
    background: linear-gradient(90deg, #0077be, #005762);
    color: transparent;
    font-size: clamp(3rem, 3vw, 3vw);
    font-weight: 600;
    -webkit-background-clip: text;
    background-clip: text;
}

.pageHeader h2 {
    font-size: clamp(1.5rem, 2vw, 2vw);
    font-weight: 500;
}

.pageHeader p {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

.pageLoading {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 5rem);
    justify-content: center;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 0.5rem;
}