.controls,
.dates {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 3rem;

}

.controls {
    justify-content: space-between;
}

.controlsLeading,
.controlsTrailing {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
}

.controlsLeadingElement,
.controlsLeadingElementNear {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.anchor {
    position: relative;
}

.menu {
    background-color: #fff;
    border-left: 1px solid #64b5f6;
    border-right: 1px solid #64b5f6;
    border-bottom: 1px solid #64b5f6;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 11;
}

.dates {
    gap: 0.5rem;
        overflow-x: auto;
}

.optionChainTable {
    display: flex;
    flex-direction: column;
    min-height: 40svh;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.optionChainTable::-webkit-scrollbar-track {
    margin-top: 4rem;
}

.tableHeaderWrapper,
.tableWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tableHeaderWrapper {
    position: sticky;
    top: 0;  
}

.table,
.tableStrike,
.tableHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tableStrike {
    width: 100%;
}

.tableHeader {
    background-color: #fff;
}

.tableRow,
.tableRowHeader,
.tableRowStrike {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tableRow,
.tableRowHeader {
    padding: 0 0.5rem;
}

.tableRowStrike {
    justify-content: center;
}

.tableRow:hover {
background-color: #ededed;
}

.tableTd,
.tableTdLink,
.tableTdPositive,
.tableTdNegative,
.tableTh {
    align-items: flex-start;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: center;
}

.tableTd,
.tableTdLink,
.tableTdPositive,
.tableTdNegative,
.tableTh {
    min-width: 5rem;
}

.tableThStrike,
.tableTdStrike,
.tableThType {
    align-items: center;
    background-color: #ededed;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: center;
}

.tableThStrike,
.tableTdStrike {
    min-width: 6.0rem;
}

.tableThType {
    width: 100%;
}

.tableTdLink p {
    color: blueviolet;
    cursor: pointer;
}

.positiveChange,
.negativeChange {
    display: flex;
    text-align: center;
    align-items: center;
}

.positiveChange,
.tableTdPositive p {
    color: green;
}

.negativeChange,
.tableTdNegative p {
    color: red;
}

@media screen and (max-width: 536px) {
    /* .controlsLeadingElementNear {
        display: none;
    } */
}

@media (prefers-color-scheme: dark) {
    .menu {
        background-color:#0a0a0a;
    }

    .tableHeader {
        background-color: #0a0a0a;
    }

        .tableThStrike,
        .tableTdStrike,
        .tableThType{ 
            background-color: gray;
        }
}