
.element,
.elementTwo {
    min-height: 3rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.element {
    justify-content: space-between;
    background-color: aquamarine;
}

.elementTwo {
    justify-content: flex-start;
    gap: 1rem;
}

.element div,
.elementTwo div {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.positive {
    color: green
}

.negative {
    color: red
}
